@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    
@if (SignInManager.IsSignedIn(User))
{
        @if (User.IsInRole("User"))
        {
            <li class="nav-item">
                <a class="nav-link" asp-controller="Cart" asp-action="GetUserCart">
                    <i class="fa-solid fa-cart-shopping fa-lg"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello <span id="username">@User.Identity?.Name!</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-outline-danger text-dark"><i class="fa-solid fa-right-from-bracket fa-xl"></i></button>
                </form>
            </li>
        }
        @if (User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="" title="Manage">Hello <span id="username">@User.Identity?.Name!</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-outline-danger text-dark"><i class="fa-solid fa-right-from-bracket fa-xl"></i></button>
                </form>
            </li>
        }
        @if (User.IsInRole("Owner"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="" title="Manage">Hello <span id="username">@User.Identity?.Name!</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-outline-danger text-dark"><i class="fa-solid fa-right-from-bracket fa-xl"></i></button>
                </form>
            </li>
        }
    }
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
